# Project 3 — Elastic Cloud Serverless Security
ES_HOST=https://proj-security-00-a00a55.es.ap-southeast-1.aws.elastic.cloud:443
KIBANA_URL=https://proj-security-00-a00a55.kb.ap-southeast-1.aws.elastic.cloud:443
ES_API_KEY=<your-api-key>

# Project 4 — ECH (use ES_HOST_BULK for ingest endpoint if available)
# ES_HOST=https://oai-hf-95ad0a.es.asia-southeast1.gcp.elastic-cloud.com
# ES_HOST_BULK=https://oai-hf-95ad0a.ingest.asia-southeast1.gcp.elastic-cloud.com/_es
# KIBANA_URL=https://oai-hf-95ad0a.kb.asia-southeast1.gcp.elastic-cloud.com
# ES_API_KEY=<your-api-key>
